
$white: #fff;
$white-light: #eee;
$white-dark: #ccc;
$black: #000;
$navy-blue: #002635;
$blue-green: #3fbe7b;
$light-blue: #46b7b5;
$light-blue--v2: #59c1ff;
$dark-blue: #05042c;
$yellow: #eaad2e;
$light-yellow: #ece465;
$dark-yellow: #b9a300;

$red: #d23139;
$lime-green: #93ce36;





