.ingame {
  &__question {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 15px;
    background: wheat;
    border-radius: 5px;
    margin-bottom: 30px;
    img{
      height: auto;
      width: 100%;
      max-width: 200px;
      
    }
  }
  &__options {
    display: flex;
    flex-wrap: wrap;
    &--full {
      flex: 2;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 15px;
      padding-bottom: 30px;
      .game-button {
        flex-direction: column;
        display: flex;
        
        height: $game-button-full;
        margin-bottom: 10px;
        
        line-height: $game-button-full;
        
      }
    }
    &--half {
      flex: 1;
      flex-direction: row;
      align-content: flex-end;
      padding-right: 15px;
      padding-bottom: 30px;
      .game-button {
        flex: 1 0 calc(50% - 15px);
        flex-direction: column;
        display: flex;
        
        margin-left: 15px;
        margin-top: 15px;
        height: $game-button-half;
        line-height: $game-button-half;
        font-size: 14px;
        
        
      }
    }
  }
}