.opponent {
  flex-direction: row;
  width: 100%;
  padding-top: 7vh;
  padding-bottom: 15px;
  &__text,
  &__level-points {
    p {
      margin: 0;
      padding: 0;
      font-size: 11px;
    }
  }
  
  &__text {
    flex: 2;
    p {
      margin-right: 5px;
      text-align: right;
      color: $white;
    }
  }
  &__level-points {
    flex: 2;
    p {
      margin-left: 5px;
      text-align: left;
      color: $white;
    }
  }
  &__avatar {
    flex: 1;
    text-align: center;
    img {
      width: 45px;
      height: 45px;
    }
  }
}