.result-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &--win {
    &:before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background: url('../assets/images/win.svg') top center repeat-x;
      width: 100%;
      height: 300px;
    }
    
    .result-page__title {
      color: $yellow;
    }
    .main-player__details {
      background-color: $green;
      &:before,
      &:after {
        content: "";
        border-color: transparent darken($green, 20%) transparent;
      }
      .main-player__name  {
        color: $black;
      }
      .main-player__score  {
        color: $black;
      }
    }
  }
  &--lose {
    &:before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background: url('../assets/images/lose.svg') top center no-repeat;
      width: 100%;
      height: 30%;
      margin-top: -5%;
    }
    .result-page__title {
      color: $red;
    }
    .main-player__details {
      background-color: $red;
      &:before,
      &:after {
        content: "";
        border-color: transparent darken($red, 20%) transparent;
      }
      .main-player__name  {
        color: $white;
      }
      .main-player__score  {
        color: $white;
      }
    }
  }
  
  
  &--tie {
    &:before {
      content: " ";
      position: absolute;
      top: 70px;
      left: 0;
      z-index: -1;
      background: url('../assets/images/tie-knot.svg') top center no-repeat;
      width: 100%;
      height: 100%;
      
    }
    .result-page__title {
      color: $red;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .main-player__details {
      background-color: $orange;
      &:before,
      &:after {
        content: "";

        border-color: transparent darken($orange, 20%) transparent;
      }
      .main-player__name  {
        color: $dark-blue;
      }
      .main-player__score  {
        color: $dark-blue;
      }
    }
  }
  &__title {
    margin-bottom: 10px;
    font-family: 'Brady Bunch';
    font-weight: 100;
    text-align: center;
    color: $yellow;
    letter-spacing: 1;
    font-size: 50px;
    text-transform: uppercase;
  }
  &__list {
    max-width: 240px;
    width: 100%;
    display: block;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
  }
  &__button {
    line-height: 7vh;
    height: 7vh;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}