.waiting-screen {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100%;
    align-self: center;
    align-items: center;
    margin-top: 15%;
    text-align: center;
  &__logo {
    width: 180px;
    height: 180px;
  }
  &__topic {
    font-size: 24px;
    margin-bottom: 10px;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  &__timer {
    font-size: 80px;
    line-height: 80px;
  }
  p {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}