.waiting-screen {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100%;
    align-self: center;
    align-items: center;
    margin-top: 15%;
    color: $white;
    text-align: center;
  &__logo {
    width: 180px;
    height: 180px;
  }
  &__topic {
    font-size: 24px;
    margin-bottom: 10px;
  }
  &__timer {
    font-size: 80px;
    color: $green;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    &.is-warning {
      color: $red;
    }
  }
  p {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}