<div class="header clearfix">
	<div class="player__round grid--40 text-align--center">
	  {{> header-player player=player.left }}
	</div>
	<div class="grid--20 header__points text-align--center">
	  {{> header-points game=game }}
	</div>
	<div class="player__round grid--40 text-align--center">
	  {{> header-player player=player.right }}
	</div>
</div>