<div class="pop-up">
  <div class="pop-up__wrap">
    <div class="pop-up__header">
      <h4 class="pop-up__title">{{modal.title}}</h4>
      <a class="pop-up__close" href="#"><img src="assets/images/close.svg" alt=""></a>
    </div>
    <div class="pop-up__body">
      <p>{{modal.message}}</p>
    </div>
    <div class="pop-up__footer">
      <a class="pop-up__button pop-up__exit" href="#">Back</a>
    </div>
  </div>
</div>