<h1>{{player.status}}</h1>
<div>{{>header-player player=player.me}}</div>
<div>{{>header-player player=player.opponent}}</div>
<button class="game-button game-button--result game-button--red">Rematch</button>
<button class="game-button game-button--result game-button--blue-green">Another Opponent</button>
<button class="game-button game-button--result game-button--light-blue">Leave</button>