<div class="versus">

  <div class="players__player player clearfix view-width--50">
    <div>
      <img class="player__avatar player__avatar--left" src="assets/images/player-1.png" alt="">
      <div class="player__name"><b>{{player.left.name}}</b></div>
      <div class="player__badge"><small>{{player.left.badge}}</small></div>
      <div class="player__score"></div>
    </div>
  </div>
  <!--Seprators-->
<!--
  <div class="versus__separator view-height-10">
    <b>VasdasdasdS</b>
    <svg height="100" width="100">
      <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
    </svg>
  </div>
-->
  <!--Player 2-->
  <div class="players__player player player--right clearfix view-width--50">
   <img class="player__avatar player__avatar--right" src="assets/images/player-2.png" alt="">
    <div class="player__name"><b>{{player.right.name}}</b></div>
    <div class="player__badge"><small>{{player.right.badge}}</small></div>
    <div class="player__score"></div>
  </div>
</div>