<div class="waiting-screen">
  <img class="waiting-screen__logo" src="assets/images/vanamo_logo.png" alt="">
  <h3 class="waiting-screen__topic"> WORD SCRAMBLE</h3>
  <p>waiting for the player to accept the challenge</p>
  <time class="waiting-screen__timer">{{>waiting-timer time=time}}</time>
</div>